/* Estilos generales */
body {
    background-color: #0d0d0d;
    color: #f1f1f1;
    font-family: "Jolly Lodger", cursive; /* Fuente personalizada */
    font-size: 12pt;
    font-weight: 400;
    font-style: normal; 
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/fondo-oscuridad.jpg'); /* Imagen de fondo */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-attachment: fixed; /* Imagen fija al hacer scroll */
}

/* Animación de parpadeo */
@keyframes blink {
    0%, 100% {
        opacity: 1; /* Comienza y termina con opacidad total */
    }
    50% {
        opacity: 0; /* Desaparece en el medio */
    }
}

/* Capa de superposición inicial */
#overlay {
    position: fixed; /* Fijo en pantalla completa */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex; /* Flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    cursor: pointer;  /* Cambia el cursor al pasar por encima */
    z-index: 1000;  /* Coloca la capa sobre el resto */
}

/* Estilos del título principal */
#titulo-principal {
    margin-top: 15px;
}

h1 {
    font-family: "Nosifer", sans-serif;
    color: #800000;   
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #000;
    animation: blink 3s infinite; /* Añade parpadeo al título */
}

/* Estilos del texto de advertencia */
.advertencia {
    font-size: 2rem;
    color: #ffa500;
    text-shadow: 2px 2px 5px #000;
    /* Cambiamos el cursor por una imagen personalizada */
    /* El tamaño de la imagen debe ser de 128x128 píxeles máximo */
    /* Ponemos 64 64 para centrar la imagen en el cursor */
    cursor: url('../images/calavera.png') 64 64, auto;
}

.advertencia:hover {
    color: #D00000; /* Cambia a rojo oscuro al pasar el cursor */
}

/* Enlaces del menú */
.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ff6347;
    font-size: 2.5rem;
}

.navbar ul li a:hover {
    color: #f1f1f1;
    text-shadow: 2px 2px 5px #ff6347;
    transition: all 0.3s ease;
}

#pie-pagina {
    font-size: 2rem;
}

/* Imagen principal */
#imagen-principal {
    width: 40%; /* Anchura relativa para adaptarse a la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 20px; /* Espacio superior */
    border-radius: 15px;  /* Bordes redondeados */   
    box-shadow: 10px 10px 5px #000; /* Sombra para dar profundidad */  
    transition: transform 0.5s ease; /* Suaviza el cambio de tamaño */
}

#imagen-principal:hover {
    transform: scale(2); /* Escala la imagen al 200% al pasar el ratón */
    background-image: url('../images/scary_image.jpg'); /* Cambia la imagen de fondo al pasar el cursor */   
}
